<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="webTestCases.Module1_Registration"/>
      <class name="webTestCases.Module3_Search"/>
      <class name="webTestCases.Module2_Login"/>
      <class name="webTestCases.Module4_Cart"/>
      <class name="webServicesTestCases.Module1_GithubRepo"/>
      <class name="androidTestCases.MobileWebTC"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- RegressionSuite -->
